<!DOCTYPE html>
<html>
<head>
	<title>:: Admin Home ::</title>
</head>
<body>

<h2 align=center>Django Crud Operations</h2><hr color="red"><hr color="red">
<br><br>
<a href="{% url 'adminhome' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'viewusers' %}">View Users</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'deleteuserbyid' %}">Delete User by ID</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'alogout' %}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
<br>
<h3 align="center"><u>Delete User by ID</u></h3>
<form method="post" action="{% url 'deleteuserbyid1' %}">
	{% csrf_token %}
<table align="center" height=100>
	<tr>
		<td>Select User ID</td>
		<td>
			<select name="uid" required>
				<option value="">---Select---</option>
				{% for user in users %}
				<option>{{user.id}}</option>
				{% endfor %}
			</select>
	</tr>
	<tr align="center">
		<td colspan="2"><input type="submit" value="Delete"></td>
	</tr>
</table>
</form>
</body>
</html>