<!DOCTYPE html>
<html>
<head>
	<title>:: Main Home ::</title>
</head>
<body>

<h2 align=center>Django Crud Operations</h2><hr color="red"><hr color="red">
<br><br>
<a href="{% url 'indexpage' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'adminlogin' %}">AdminLogin</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'userregistration' %}">UserRegistration</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'userlogin' %}">UserLogin</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'contactpage' %}">Contact Us</a>

</body>
</html>
